    <footer class="footer">
      <div class="container">
        <div class="row vertical-align">
          <a href="http://www.belspo.be"><img src="{{ .Site.BaseURL }}images/belspo.jpg" class="logo img-responsive pull-left"></a>
           <p>Research funded by the Belgian Science Policy, research project <a href="http://www.belspo.be/belspo/fedra/proj.asp?l=&COD=SR%2F00%2F304">SR/00/304</a>.</p>
        </div>
      </div>
    </footer>

    <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/popper.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>

    {{- range .Params.js }}
    <script src="{{ $.Site.BaseURL }}js/{{ . }}.js"></script>
    {{- end }}

  </body>
</html>
