{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container news">
  <div class="row">
    <div class="col-md-12">

      <h2>{{ .Title }}</h2>

      {{ if gt .FuzzyWordCount 1000}}
      <div class="well toc">
        {{ .TableOfContents }}
      </div>
      {{ end }}

      {{ .Content }}

      <p style="text-align:right"><em><small>Published on {{ .Date.Format "January 02, 2006" }}, by {{ .Params.author }}</small></em></p>

    </div>
  </div>
</div>

{{ partial "footer.html" . }}
