/* Homepage */

.header-image {
    background-image: url('/images/ouaga_swv.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    padding: 5em;
}

.header-image {
    color: white;
    text-shadow: 1px 1px 5px black;
    text-align: center;
}

.site-content {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}
