{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<div class="container-fluid header-image" style="background-image:url('{{ .Site.BaseURL }}/images/ouaga_swv.jpg')">
  <h1>
		<strong>MAUPP</strong><br>
    <small>
			<strong>M</strong>odeling and forecasting <strong>A</strong>frican
			<strong>U</strong>rban <strong>P</strong>opulation <strong>P</strong>atterns
		</small>
  </h1>
</div>

<div class="container site-content">

  <div class="row">
    <div class="col-md-12">
      {{ with .Site.GetPage "page" "page/about.md" }}{{ .Content }}{{ end }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Latest News<hr></h2>
      {{ range first 4 ( where .Site.Pages ".Section" "news" ) }}
      {{ if isset .Params "author" }}
      <p>
        <a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a><br>
        <small>On {{ .Date.Format "January 02 2006" }}{{ if .Params.author }}, by {{ .Params.author }}{{ end }}</small><br>
        {{ .Summary }} <a href="{{ .Permalink }}">Read more...</a></p>
      </p>
      {{ end }}
      {{ end }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{ with .Site.GetPage "page" "page/final-event.md" }}{{ .Content }}{{ end }}
    </div>
  </div>

</div>

{{ partial "footer.html" . }}
